
doc/figures
doc/help.txt
doc/manual.pdf
doc/manual.ps

Makefile

config.h
config.log
config.status

modules/xspec/src/xspec_libs
modules/xspec/src/config-xspec-libs
modules/xspec/src/config-xspec-version

elfobjs
objs

isis-version
