
doc/figures
doc/manual.pdf
doc/manual.ps

etc/local.sl

INSTALL.html
INSTALL.pdf
INSTALL.xml

Makefile

config.h
config.log
config.status

modules/xspec/src/xspec_libs
modules/xspec/src/config-xspec-libs
modules/xspec/src/config-xspec-version

modules/cfitsio/src/cfitsio.h

elfobjs
objs

isis-version
